#contact {
    background-image: url(../img/Earth.jpg);
    overflow: visible;
    padding-top:100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200, 0.7);
    height: 1500px;
}

#title {
    text-align: center;
    overflow: visible;
    background-color: rgb(200, 200, 200);
    opacity: 0.8;
}

#contact-detail {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: rgb(200, 200, 200);
    opacity: 0.8;
}

#contact-column img {
    width: 15%;
    height: auto;
    align-items: center;
}

#contact-column {
    width: 30%;
    height: auto;
    text-align: center;
    font-size: 2vw;
}

@media only screen and (max-device-width: 1200px) {
    #contact-column img {
        width: 15%;
    }
}

@media only screen and (max-device-width: 480px) {
    #title {
        font-size: 24px;
    }
    #contact-column img {
        width: 15%;
    }
    #contact-column {
        font-size: 8px;
    }
}

