#contact {
    background-image: url(../img/Earth.jpg);
    overflow: visible;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200, 0.7);
    height: 100vh;
    width: 100vw;
}

#title {
    text-align: center;
    overflow: visible;
    background-color: rgb(200, 200, 200);
    opacity: 0.8;
    font-size: 6vw;
}

#contact-detail {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: rgb(200, 200, 200);
    opacity: 0.8;
}

#contact-column img {
    width: 12%;
    height: auto;
    align-items: center;
}

#contact-column {
    width: 30%;
    height: auto;
    text-align: center;
    font-size: 2vw;
}
