.form-group > .form-control{
    width: 50%;
    margin: 0 auto;
}
.form-group > label{
    margin-left: 25%;
}

.btn.btn-secondary{
    margin: 0 25% ;
    font-size: 13px;
    width: 200px;
}
.btn.login-fb>.fb-icon{
    margin-right: 4px;
}
.btn.login-fb{
    background-color:#3b5998;
    width: 200px;
    margin-top: 5px;
    font-size: 13px;
}

.alert.alert-danger{
    width: 50%;
    margin: 5px auto 5px;
    text-align: center;
}
.top-nav{
    top:0 !important;
}
.middle-nav{
    top:100% !important;
}