.form-group > .form-control{
    width: 50%;
    margin: 0 auto;
}
.form-group > label{
    margin-left: 25%;
}

.btn.btn-secondary{
    margin: 0 45% ;
}
.btn.login-fb{
    background-color:#3b5998;
    width: 200px;
}

.alert.alert-danger{
    width: 50%;
    margin: 5px auto 5px;
    text-align: center;
}